
image:
  registry: federatedai
  isThridParty:
  tag: 1.5.0-release
  pullPolicy: IfNotPresent
  imagePullSecrets: 
#  - name: 
  
partyId: 9999
partyName: fate-9999

istio:
  enabled: false

host:
  fateboard: 9999.fateboard.kubefate.net
  client: 9999.notebook.kubefate.net
  sparkUI: 9999.spark.kubefate.net
  rabbitmqUI: 9999.rabbitmq.kubefate.net

exchangeList:
- id: 9991
  ip: 192.168.1.1
  port: 30910

partyList:
- partyId: 8888
  partyIp: 192.168.8.1
  partyPort: 30081
- partyId: 10000
  partyIp: 192.168.10.1
  partyPort: 30101

persistence:
  enabled: false

modules:
  rollsite: 
    include: true
    ip: rollsite
    type: ClusterIP
    nodePort: 30091
    nodeSelector: 
  lbrollsite:
    include: true
    ip: rollsite
    type: ClusterIP
    nodePort: 30091
    size: "2M"
    nodeSelector:
  python: 
    include: true
    type: ClusterIP
    httpNodePort: 30097
    grpcNodePort: 30092
    nodeSelector: 
    backend: eggroll
    spark: 
      master: spark://spark-master:7077
      home: 
      cores_per_node: 20
      nodes: 2
    hdfs:
      name_node: hdfs://namenode:9000
      path_prefix:
    rabbitmq:
      host: rabbitmq
      mng_port: 15672
      port: 5672
      user: fate
      password: fate
      # default conf/rabbitmq_route_table.yaml
      route_table: 
    nginx:
      host: nginx
      port: 9390
  clustermanager: 
    include: true
    ip: clustermanager
    type: ClusterIP
    nodeSelector: 
  nodemanager:  
    include: true
    list:
    - name: nodemanager-0
      nodeSelector: 
      sessionProcessorsPerNode: 2
      subPath: "nodemanager-0"
      existingClaim: ""
      storageClass: "nodemanager-0"
      accessMode: ReadWriteOnce
      size: 1Gi
    - name: nodemanager-1
      nodeSelector: 
      sessionProcessorsPerNode: 2
      subPath: "nodemanager-1"
      existingClaim: ""
      storageClass: "nodemanager-1"
      accessMode: ReadWriteOnce
      size: 1Gi
  client: 
    include: true
    ip: client
    type: ClusterIP
    nodeSelector: 
  mysql: 
    include: true
    type: ClusterIP
    nodeSelector: 
    ip: mysql
    port: 3306
    database: eggroll_meta
    user: fate
    password: fate_dev
    subPath: "mysql"
    existingClaim: ""
    claimName: mysql-data
    storageClass: "mysql"
    accessMode: ReadWriteOnce
    size: 1Gi
  serving:
    ip: 192.168.9.1
    port: 30095
  fateboard:
    include: true
    type: ClusterIP
  spark:
    include: true
    master:
      Image: ""
      ImageTag: ""
      replicas: 1
      cpu: "100m"
      memory: "512Mi"
      nodeSelector: 
      type: ClusterIP
    worker:
      Image: ""
      ImageTag: ""
      replicas: 2
      cpu: "1000m"
      memory: "512Mi"
      nodeSelector: 
      type: ClusterIP
  hdfs:
    include: true
    namenode:
      nodeSelector: 
      type: ClusterIP
    datanode:
      nodeSelector: 
      type: ClusterIP
  nginx:
    include: true
    nodeSelector: 
    type: ClusterIP
    nodePort: 30093
    route_table: 
#      10000: 
#        proxy: 
#        - host: 192.168.10.1 
#          port: 30103
#        fateflow:
#        - host: 192.168.10.1  
#          port: 30102
  rabbitmq:
    include: true
    nodeSelector: 
    type: ClusterIP
    nodePort: 30094
    default_user: fate
    default_pass: fate
    user: fate
    password: fate
    route_table: 
#      10000:
#        host: 192.168.10.1 
#        port: 30104
