
partyId: 9999     # required
partyName: fate-serving-9999     # required

# containers images 
image:
  registry: federatedai     # required
  isThridParty:
  tag: 2.0.0-release        # required
  pullPolicy: IfNotPresent  # required

persistence:
  enabled: false

servingProxy: 
  include: true             # required
  ip: serving-proxy                 # required
  port: 6379                # required
  type: NodePort
  nodePort: 30109
  ingerssHost: 9999.serving-proxy.kubefate.net
  nodeSelector: {}
  partyList:
  - partyId: 10000
    partyIp: 192.168.10.1
    partyPort: 30110

servingRedis:
  include: true             # required
  ip: serving-redis                 # required
  port: 6379                # required
  type: ClusterIP           
  password: fate_dev     # required
  nodeSelector: {}
  subPath: ""
  existingClaim: ""
  storageClass: "serving-redis"
  accessMode: ReadWriteOnce
  size: 1Gi

servingServer:
  include: true             # required
  ip: serving-server        # required
  port: 8000                # required
  type: NodePort
  nodePort: 30209
  fateflow:
    ip: fateflow
    port: 9380
  nodeSelector:  {}
  subPath: ""
  existingClaim: ""
  storageClass: "serving-server"
  accessMode: ReadWriteOnce
  size: 1Gi

servingAdmin:
  include: true             # required
  ip: serving-server        # required
  port: 8000                # required
  type: NodePort
  nodePort: 30209
  fateflow:
    ip: fateflow
    port: 9380
  nodeSelector:  {}
  subPath: ""
  existingClaim: ""
  storageClass: "serving-server"
  accessMode: ReadWriteOnce
  size: 1Gi

istio:
  enabled: false
